<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw700">Charity Foundation</ion-text>
          </ion-text>
  
      </ion-title>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="notifications()">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge color="dark" slot="end">2</ion-badge>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="dark">
      <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-card *ngFor="let category of categories" (click)="goToHomeResultsPage(category)">
    <ion-card-header>
      <ion-card-title><b>{{category}}</b></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content> 
