<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw700">Charity Foundation</ion-text>
          </ion-text>
          <ion-button size="small" shape="round" color="medium" (click)="goBack()">Go Back
            </ion-button>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="notifications()">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge color="dark" slot="end">2</ion-badge>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="dark">
      <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{CharityObject.charityname}}</ion-card-subtitle>
          <ion-card-title>{{CharityObject.url}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-list>
                <!-- <ion-thumbnail slot="start">
                    <ion-img [src]={{CharityObject.image}}></ion-img>
                  </ion-thumbnail> -->
                <ion-item>
                  <ion-label>{{CharityObject.email}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>{{CharityObject.zipcode}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>{{CharityObject.category}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>{{CharityObject.slogan}}</ion-label>
                </ion-item>
                
              </ion-list>


              <ion-item>
                  <ion-label  position="floating">Enter your amount here</ion-label>
                  <ion-input [(ngModel)]="amount" name="amount"></ion-input>
                </ion-item>
              <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="donate()">Donate</ion-button>

        </ion-card-content>
      </ion-card>
      <ion-button size="small" shape="round" color="medium" (click)="playVideo()">Success Stories
        </ion-button>
     
           
          
      
 
</ion-content>
